  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>Hello!</h1>
      <h2>I'm Jan and this is an experiment in trying to curate some sort of minimal web presence that is not
        enclosed within a social network. Find me on
        <a href="https://www.twitter.com/janhaak">Twitter</a>,
        <a href="https://instagram.com/janhaak/"> Instagram</a>,
        <a href="https://www.facebook.com/jan.haak"> Facebook</a>,
        <a href="https://au.linkedin.com/pub/jan-haak/5/938/582"> Linkedin</a>
        or check out my <a href="/CV/index.html">CV</a> in the meantime.

      <hr />
    </div>
  </div>
  <div class ="container">
